@charset "UTF-8";
/****Variables******/
/****Mixin*****/
/****Général****/
* {
  font-family: "Roboto", sans-serif;
}

/*** Header****/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .header img {
  display: flex;
  align-self: center;
  width: 197px;
  margin-bottom: 15px;
}
.header .header__location {
  display: flex;
  align-self: center;
  background-color: #eaeaea;
  width: 100%;
  justify-content: center;
  box-shadow: inset 1px 4px 4px -5px rgba(0, 0, 0, 0.5);
}

/*****Loader*****/
.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeOut 2s forwards 2s;
  z-index: 10;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader,
.loader::before,
.loader::after {
  background: #9356dc;
  animation: blink 1s infinite linear alternate;
}

.loader::before {
  transform: translateX(20px);
  background: #ff79da;
  animation-delay: 0.33s;
}

.loader::after {
  transform: translateX(-20px);
  background: #99e2d0;
  animation-delay: 0.66s;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    z-index: -1;
  }
}
/***Reservation****/
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  text-align: center;
  box-shadow: inset 0px 7px 5px -5px rgba(0, 0, 0, 0.5);
}
.reservation .reservation__btn {
  border-radius: 25px;
  border: none;
  height: 40px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: linear-gradient(360deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  position: relative;
}
.reservation .reservation__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(194deg, rgb(188, 132, 255) 0%, rgb(255, 178, 234) 100%);
  opacity: 0;
  transition: opacity 2s;
  border-radius: 25px;
}
.reservation .reservation__btn:hover::before {
  opacity: 1;
}
.reservation .reservation__btn > * {
  position: relative;
}

/***Fonctionnement***/
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement__grp {
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement__div {
  display: flex;
  margin-bottom: 15px;
}
.fonctionnement .fonctionnement__div .fonctionnement__num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #9356dc;
  color: white;
  align-self: center;
  display: table;
  position: relative;
  left: 10px;
}
.fonctionnement .fonctionnement__div .fonctionnement__num > p {
  font-size: 12px;
}
.fonctionnement .fonctionnement__div .fonctionnement__btn {
  border-radius: 20px;
  height: 60px;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  background-color: #f6f6f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.fonctionnement .fonctionnement__div .fonctionnement__btn__icon {
  margin-left: -80px;
  margin-right: 10px;
  color: grey;
}
.fonctionnement .fonctionnement__div .fonctionnement__btn__icon--purple {
  color: #9356dc;
}

/****Restaurants*****/
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding: 5px;
}
.restaurants .card__group a {
  text-decoration: none;
}
.restaurants .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 0%;
  margin-bottom: 20px;
}
.restaurants .card .card__img {
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.restaurants .card .card__newimg {
  margin-top: -20px;
}
.restaurants .card .card-content {
  display: flex;
  flex-direction: row;
}
.restaurants .card .card-content .card__txt {
  width: 100%;
  margin-left: 10px;
  color: black;
}
.restaurants .card .card-content .card__txt .card__txt__loc {
  margin-top: -15px;
  margin-bottom: 13px;
}
.restaurants .card .card-content .card__icon {
  width: 30px;
  display: flex;
  align-items: center;
  font-size: 23px;
  position: relative;
  margin-right: 20px;
}
.restaurants .card .card-content .card__icon .icon {
  transition: color 1s ease;
  color: black;
  z-index: -10;
}
.restaurants .card .card-content .card__icon .icon:hover {
  color: white;
}
.restaurants .card .card-content .card__icon .icon--fill {
  background: -webkit-linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  margin-right: -23px;
  transition: opacity 1s ease;
}
.restaurants .card .card-content .card__icon .icon--fill:hover {
  opacity: 1;
}
.restaurants .card .card__badge {
  width: 80px;
  height: 20px;
  border: none;
  background-color: #99e2d0;
  color: #008766;
  display: table;
  position: relative;
  text-align: center;
  left: 70%;
  top: 32px;
}

/*****Footer****/
.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 15px;
}
.footer__h2 {
  font-family: "Shrikhand";
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: -10px;
  margin-top: 0;
  padding-top: 15px;
}
.footer__links {
  margin-left: -20px;
  list-style: none;
  color: white;
}
.footer__a {
  text-decoration: none;
  color: white;
}
.footer__links--bold {
  font-weight: 500;
}
.footer__links i {
  margin-right: 5px;
}

/*****Style des menus******/
/*****header****/
.header__menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header__menu .header__arrow {
  flex: 0 0 auto;
}
.header__menu .header__arrow > a {
  color: black;
}
.header__menu .header__logo__menu {
  flex: 1;
  text-align: center;
}

/****Image de présentation*****/
.img__intro {
  width: 100%;
}

/**** Menu******/
.menu {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
  padding-left: 6px;
  padding-right: 6px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 3;
  margin-top: -22px;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu .menu__title .card__icon {
  width: 30px;
  display: flex;
  align-items: center;
  font-size: 23px;
  position: relative;
}
.menu .menu__title .icon {
  color: black;
  transition: color 1s ease;
  z-index: -10;
}
.menu .menu__title .icon:hover {
  color: white;
}
.menu .menu__title .icon--fill {
  background: -webkit-linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  margin-right: -23px;
  transition: opacity 1s ease;
}
.menu .menu__title .icon--fill:hover {
  opacity: 1;
}
.menu .menu__card {
  border-radius: 20px;
  height: 70px;
  border: none;
  width: 100%;
  font-weight: 500;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu .menu__card .menu__card__txt {
  padding-left: 8px;
}
.menu .menu__card .menu__card__txt h3 {
  margin-top: 14px;
  font-size: 17px;
}
.menu .menu__card .menu__card__txt p {
  margin-top: -17px;
  font-weight: 300;
  font-size: 14px;
}
.menu .menu__card .menu__card__price {
  display: flex;
  align-items: end;
  font-weight: 600;
  padding-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 0.5s;
  margin-top: 13px;
}
.menu .menu__card .card__check {
  width: 70px;
  height: 100%;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu .menu__card .card__check .card__check__icon {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  margin-top: 21px;
}
.menu .menu__card:hover .card__check {
  transform: scaleX(1);
}
.menu .menu__card:hover .menu__card__price {
  right: 80px;
}
.menu .menu__card:hover .menu__card__txt h3 {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu__card:hover .menu__card__txt p {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu h2 {
  font-weight: 300;
}
.menu h2:after {
  content: "";
  border-bottom: 3px solid #99e2d0;
  width: 60px;
  display: block;
}
.menu .menu__btn {
  border-radius: 25px;
  border: none;
  height: 40px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: linear-gradient(360deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  position: relative;
  width: 186px;
  align-self: center;
  margin-top: 11px;
}
.menu .menu__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(194deg, rgb(188, 132, 255) 0%, rgb(255, 178, 234) 100%);
  opacity: 0;
  transition: opacity 2s;
  border-radius: 25px;
}
.menu .menu__btn:hover::before {
  opacity: 1;
}
.menu .menu__btn > * {
  position: relative;
}
.menu .anim--menu1 {
  opacity: 0;
  transform: translateY(-20px);
}
.menu .menu:hover .anim--menu1 {
  animation: hoverEffect 0.3s ease forwards;
}
.menu .anim--menu1.final {
  animation: finalEffect 1s ease forwards;
  animation-delay: 0.3s;
}
@keyframes hoverEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes finalEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .anim--menu2 {
  opacity: 0;
  transform: translateY(-20px);
}
.menu .menu:hover .anim--menu2 {
  animation: hoverEffect 0.3s ease forwards;
}
.menu .anim--menu2.final {
  animation: finalEffect 1s ease forwards;
  animation-delay: 0.6s;
}
@keyframes hoverEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes finalEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .anim--menu3 {
  opacity: 0;
  transform: translateY(-20px);
}
.menu .menu:hover .anim--menu3 {
  animation: hoverEffect 0.3s ease forwards;
}
.menu .anim--menu3.final {
  animation: finalEffect 1s ease forwards;
  animation-delay: 0.9s;
}
@keyframes hoverEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes finalEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*******Footer*******/
.footer-menu {
  position: relative;
  background-color: #353535;
  color: white;
  padding-bottom: 15px;
}
.footer-menu .footer__h2 {
  font-family: "Shrikhand";
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: -10px;
  margin-top: 0;
  padding-top: 15px;
}
.footer-menu .footer__links {
  margin-left: -20px;
  list-style: none;
  color: white;
}
.footer-menu .footer__links i {
  margin-right: 5px;
}
.footer-menu .footer__a {
  text-decoration: none;
  color: white;
}
.footer-menu .footer__links--bold {
  font-weight: 500;
}

/******Media queries version desktop page d'accueil*******/
@media (min-width: 1024px) {
  .header .header__location {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .header .header__logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .reservation {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .reservation > h1 {
    font-size: 40px;
  }
  .reservation > p {
    font-size: 18px;
  }
  .reservation .reservation__btn {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  .fonctionnement {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .fonctionnement .fonctionnement__grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement .fonctionnement__div {
    width: 30%;
  }
  .fonctionnement .fonctionnement__btn {
    padding-left: 60px;
  }
  .restaurants {
    padding-left: 90px;
    padding-right: 90px;
  }
  .restaurants .card__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
  }
  .restaurants .card__group > a {
    width: 47%;
    text-decoration: none;
  }
  .restaurants .card__group .card {
    width: 100% img;
    width-height: 160px;
  }
  .restaurants .card__group .card .card__badge {
    left: 76%;
    top: 22px;
  }
  .restaurants .card__group .card .card__icon {
    font-size: 23px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 35px;
  }
  .footer .footer__h2 {
    margin-left: 80px;
    margin-right: 40px;
    font-size: large;
  }
  .footer .footer__links {
    display: flex;
    flex-direction: row;
  }
  .footer .footer__links--margin {
    margin-left: 40px;
  }
  .footer .footer__a {
    margin-left: 10px;
  }
  .header__menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .img__intro {
    width: 100%;
    height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    margin-right: 105px;
    margin-left: 105px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .footer-menu {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 35px;
  }
  .footer-menu .footer__h2 {
    margin-left: 80px;
    margin-right: 40px;
    font-size: large;
  }
  .footer-menu .footer__links {
    display: flex;
    flex-direction: row;
  }
  .footer-menu .footer__links--margin {
    margin-left: 40px;
  }
  .footer-menu .footer__a {
    margin-left: 10px;
  }
  .menu .menu__card:hover .menu__card__txt h3 {
    overflow: visible;
  }
  .menu .menu__card:hover .menu__card__txt p {
    overflow: visible;
  }
}
@media (min-width: 1440px) {
  .fonctionnement {
    padding-left: 175px;
    padding-right: 175px;
  }
  .fonctionnement .fonctionnement__btn {
    font-size: 16px;
  }
  .fonctionnement .fonctionnement__btn .fonctionnement__btn__icon {
    margin-right: 27px;
  }
  .restaurants {
    padding-left: 175px;
    padding-right: 175px;
  }
  .restaurants .card .card__badge {
    left: 85%;
  }
  .restaurants .card .card__img {
    height: 200px;
  }
  .restaurants .card .card__newimg {
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */